class <%= class_name %>Exporter < Rexport::Exporter

  def ids_to_a(ids)
    <%= class_name %>.find(ids).map do |<%= name %>|
      [
        <%= name %>.id,
        <%= name %>.created_at,
        <%= name %>.updated_at,
      ]
    end
  end

end
