class <%= class_name %>Exporter < Rexport::Exporter

  def headers
    [
    <% model_class.columns.each do |column| -%>
  '<%= column.comment || column.name -%>',
    <% end -%>
]
  end

  def ids_to_a(ids)
    <%= class_name %>.find(ids).map do |<%= name %>|
      [
      <% model_class.column_names.map do |column_name| -%>
  <%= "#{name}.#{column_name}" -%>,
      <% end -%>
]
    end
  end

end
